
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-full {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
/* shared */
.disp-flex{
    display: flex;

}
.dark1{
    color: rgba(19, 19, 19, 1);
}
.dark2{
  
    color:   rgba(66, 66, 66, 1);
}
.dark3{
    color: rgba(114, 114, 114, 1);
}
.explore{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    font-weight: 600;
    padding: 18px 22px;
    border-radius: 8px;
    font-size: 0.9rem;
    border: none;
    margin-bottom: 50px;
}
/* header */
.head1{
   background-color: rgba(255, 144, 14, 0.1);
}
.navbar , .banner{
    max-width: 968px;
   margin: 0 auto;
  
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.navbar h3{
    font-weight: bold;
    font-size: 1.7rem;
}
.navlinks{
    list-style: none;
    gap: 20px;

}
.nav-item a{
    text-decoration: none;
}
/* banner style */
.banner-content{
   max-width: 590px;
   margin: 0 auto;
   text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 2.68rem;
    padding-bottom: 5p;
    padding-top: 20px;
}
.banner-des{
    font-size: 1rem;
}
.banner-img{
    width: 100%;
}

/* media query  */
@media screen and (max-width: 576px) {
    .navlinks{
        flex-direction: column;
    }
}